@import '../../../styles/common';

.recipe-container {
    position: absolute;
    left: 300px;
    top: 0;
    width: calc(100vw - 300px);
    height: 100vh;
    background: $color-background;
    padding: 50px;
    padding-top: 0;
    &__header {
        height: 100px;
        display: flex;
        align-items: center;
        &__title {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 35px;
            padding-left: 20px;
            color: $color-secondary;
            font-weight: bold;
        }
        &__icons {
            font-size: 30px;
            cursor: pointer;
            margin-left: 10px;
        }
    }
    &__inside {
        background: white;
        width: 100%;
        height: calc(100% - 100px);
        overflow: auto;
        &__tags {
            padding: 20px;
            &__tag {
                color: $color-accent;
                margin-bottom: 5px;
                font-size: 18px;
                & span {
                    color: $color-primary;
                    font-weight: bold;
                    font-size: 18px;
                }
            }
        }
        &__image {
            width: 100%;
            padding: 25px 50px 5px;
            display: flex;
            justify-content: center;
            img {
                width: 100%;
                max-width: 700px;
            }
        }
        &__description {
            width: 100%;
            text-align: center;
            color: $color-secondary;
            font-style: italic;
            margin-bottom: 40px; 
        }
        &__table {
            display: flex;
            justify-content: center;
            font-size: 20px;
            margin-bottom: 40px;
            th {
                color: $color-accent;
                font-weight: bold;
                text-align: center;
                padding: 5px;
            }
            td {
                text-align: center;
                padding: 5px;
            }
        }
        &__lists {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            &__list {
                &__title {
                    font-weight: bold;
                    color: $color-accent;
                    font-size: 20px;
                }
                padding: 0 50px;
            }
        }
    }
}