@import '../../../styles/common';

.recipes-container {
    position: absolute;
    left: 300px;
    top: 0;
    width: calc(100vw - 300px);
    height: 100vh;
    background: $color-background;
    padding: 50px;
    padding-top: 0;
    &__header {
        height: 100px;
        display: flex;
        align-items: center;
        &__title {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 35px;
            padding-left: 20px;
            color: $color-secondary;
            font-weight: bold;
            margin-right: 20px;
        }
        &__search {
            input {
                background: none;
                border: none;
                border-bottom: 2px solid $color-accent;
                margin-right: 10px;
            }
            select {
                border: none;
                background: none;
            }
        }
    }
    &__inside {
        background: white;
        width: 100%;
        height: calc(100% - 100px);
        padding: 20px 10px;
        overflow-y: auto;
        overflow-x: hidden;
        &__recipe {
            width: calc(100% / 3);
            display: inline-block;
            margin-bottom: 20px;
            &__image {
                width: calc(100% - 20px);
                margin-left: 10px;
            }
            &__title {
                width: 100%;
                text-align: center;
                font-size: 18px;
                font-weight: bold;
                a {
                    color: $color-accent;
                    transition: .3s all ease-in-out;
                    text-decoration: none;
                    &:hover {
                        color: $color-secondary;
                    }
                }
            }
            &__author {
                width: 100%;
                text-align: center;
                font-size: 14px;
                color: $color-primary;
                font-style: italic;
            }
            &__tags {
                display: flex;
                justify-content: center;
                font-size: 12px;
                color: $color-accent;
                div {
                    margin-right: 3px;
                    color: $color-accent;
                }
            }
        }
    }
}