@import '../../../styles/common';

.new-recipe-container {
    position: absolute;
    left: 300px;
    top: 0;
    width: calc(100vw - 300px);
    height: 100vh;
    background: $color-background;
    padding: 50px;
    padding-top: 0;
    &__header {
        height: 100px;
        display: flex;
        align-items: center;
        &__title {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-size: 35px;
            padding-left: 20px;
            color: $color-secondary;
            font-weight: bold;
        }
    }
    &__inside {
        background: white;
        width: 100%;
        height: calc(100% - 100px);
        overflow: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__row {
            margin-bottom: 20px;
            input {
                font-size: 20px;
                background: none;
                border: 2px solid $color-accent;
            }
            button {
                font-size: 20px;
                background: $color-accent;
                border: none;
                padding: 10px 20px;
                color: white;
                cursor: pointer;
                transition: .3s all ease-in-out;
                &:hover {
                    background: $color-secondary;
                }
            }
            select {
                margin-left: 20px;
                font-size: 20px;
                background: $color-accent;
                border: none;
                padding: 10px 20px;
                color: white;
                cursor: pointer;
                option {
                    color: white;
                }

            }
            &.flex {
                display: flex;
                font-size: 12px;
                div {
                    margin-right: 5px;
                    color: $color-accent;
                }
            }
        }
        
    }
}