@import '../../../styles/common';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: $color-text-dark;
}

.navigation {
    width: 300px;
    height: 100vh;
    background: $color-primary;
    position: relative;
    &__header {
        font-size: 26px;
        color: $color-text-light;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__links {
        &__link { 
            width: 100%;
            padding: 20px;
            a {
                color: $color-background;
                text-decoration: none;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: .3s all ease-in-out;
                &:hover {
                    color: $color-accent;
                    text-decoration: underline;
                }
            }            
        }
    }
    &__footer {
        position: absolute;
        bottom: 0;
        &__link {
            width: 100%;
            padding: 20px;
            a, button {
                background: none;
                border: none;
                color: $color-background;
                text-decoration: none;
                font-size: 24px;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: .3s all ease-in-out;
                &:hover {
                    color: $color-accent;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}